*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
    font-family: 'K2D', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Philosopher', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    background: url(img/background/Fox-Background3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
/* ---------------Header-------------- */
.header-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2rem;
}
/* ---------------Logo-------------- */
.logo{
    width: 24rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.logo img{
    width: 4rem;
}
.text h1{
    font-size: 2.5rem;
    font-family: 'K2D', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-left: .5rem;
    color: rgb(255, 250, 238);
}
.text p{
    font-size: 1.5rem;
    letter-spacing: 6.5px;
    padding-left: .7rem;
    color: rgb(255, 250, 238);
}
/* ---------------Navigation-------------- */
.nav-social-menu{
    width: 45rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-social-menu nav ul{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}
.nav-social-menu nav ul li{
    list-style-type: none;
}
.nav-social-menu nav ul li a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(255, 250, 238);
}
.nav-social-menu nav ul li a:hover{
    color: #FF6520;
    border-bottom: 1px solid #FF6520;
}
/* ---------------Social Icons-------------- */
.socials-menu{
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    color: rgb(255, 250, 238);
}
.socials-menu .fa-bars {
    font-size: 2.3rem;
    margin-left: 1rem;
    color: #D9985F;
}
.socials-menu a{
    color: rgb(255, 250, 238);
}
/* ---------------Main-------------- */
main{
    position: relative;
}
.main-container{
    width: 100%;
    height: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: left;
    position: relative;
}
.headers, .parag{
    width: 25%;
    padding-right: 7rem;
    margin-right: 25rem;
    color: rgb(255, 250, 238);
}
.main-container h1, h2{
    font-size: 7rem;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}
.headers h1{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px rgb(255, 250, 238);
    font-size: 10rem;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 12rem;
}
.main-container .parag{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: 1.3rem;
    line-height: 2rem;
    margin-bottom: 4rem;
}
main i{
    font-size: 4rem;
}
main .fa-angle-left{
    position: absolute;
    top: 30rem;
    left: 20rem;
    color: antiquewhite;
}
main .fa-angle-right{
    position: absolute;
    bottom: 36rem;
    right: 20rem;
    color: antiquewhite;
}